a.social-icon {
    display: block;
    position: fixed;
    right: 1.5rem;
    z-index: 1000;
}

a.social-icon-mess {
    bottom: 7.5rem;
}

a.social-icon-zalo {
    bottom: 1.5rem;
}

a.social-icon img {
    width: 5rem;
    height: auto;
}

/* END SOCIAL-ICON  */
.btn-scrolltop {
    position: fixed;
    right: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    z-index: 1000;
    cursor: pointer;
}

.btn-scrolltop img {
    width: 6rem;
    height: auto;
}

/* END BTN-SCROLLTOP  */
#footer #footer-top {
    background-color: var(--bg-green);
    padding-block: 1.5rem;
}

#footer #footer-top .footer-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer #footer-top .footer-top-content span.footer-thank {
    font-size: 2rem;
    color: var(--bg-white);
    font-family: 'UTM AvoBold';
    text-transform: uppercase;
    margin-left: -1.5rem;
}

#footer #footer-top .footer-top-content a.hotline {
    color: var(--bg-white);
    border: 0.2rem solid var(--bg-white);
    background-color: var(--bg-orange);
    margin-right: -1.5rem;
}

/* END FOOTER-TOP  */
#footer #footer-bottom .footer-logo a.logo img {
    display: block;
    max-width: 18rem;
    height: auto;
}

#footer #footer-bottom {
    padding-block: 4rem;
}

#footer #footer-bottom a.logo {
    display: block;
    width: 80%;
}

#footer #footer-bottom a.logo img {
    width: 100%;
    height: auto;
}

.footer-info-contact {
    font-size: 1.6rem;
    color: var(--bg-gray);
}

.footer-info-contact .wp-info-contact {
    width: fit-content;
}

.footer-info-contact p {
    padding-block: 1rem;
    border-bottom: 0.2rem solid var(--bg-green);
}

ul.list-info-contact {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.list-info-contact li a {
    color: var(--bg-gray);
}

ul.list-info-contact li:hover a {
    color: var(--bg-orange);
}

ul.list-info-contact i {
    display: inline-block;
    width: 3rem;
    height: auto;
    color: var(--bg-green);
}

#footer-bottom .row {
    align-items: center;
}

@media screen and (max-width: 767px) {
    .btn-scrolltop {
        bottom: 66px;
        right: 0px;
    }

    .btn-scrolltop img {
        width: 5rem;
        height: auto;
    }

    #footer #footer-top .footer-top-content {
        justify-content: center;
    }

    .footer-info-contact {
        margin-top: 1rem;
    }

    #footer #footer-top .footer-top-content span.footer-thank {
        font-size: 1.4rem;
    }

    #wp-social-icon-mobile {
        height: 60px;
    }

    #social-icon-mobile {
        display: flex;
        background-color: #00a3ff;
        height: 60px;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
    }

    #social-icon-mobile div {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #social-icon-mobile a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #social-icon-mobile img {
        width: 25px;
    }

    .hotline-icon-mobile {
        -webkit-animation-name: wobble;
        animation-name: wobble;
        -webkit-animation-duration: .8s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -webkit-transform-origin: 50% 100%;
        vertical-align: middle;
        border-style: none;
        box-sizing: border-box;
        max-width: 100%;
        height: auto;
    }

    #social-icon-mobile p {
        margin: 0;
        margin-top: 5px;
        font-size: 10px;
        color: #fff;
    }

    @keyframes wobble {
        0% {
            -webkit-transform: none;
            transform: none;
        }

        15% {
            -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
            transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        }

        30% {
            -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
            transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        }

        45% {
            -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
            transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        }

        60% {
            -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
            transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        }

        75% {
            -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
            transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        }

        100% {
            -webkit-transform: none;
            transform: none;
        }
    }
}