.home-form-wrapper .container {
    padding-block: 4rem;
}

.home-form-wrapper .form-subscribe-wrap {
    padding-bottom: 6rem;
    border-bottom: 0.1rem solid var(--bg-green);
}

.home-form-wrapper .form-subscribe-wrap .form-intro h2 {
    color: var(--bg-green);
    font-size: 18px;
    font-family: "UTM AvoBold";
    margin-bottom: 2.5rem;
    text-transform: uppercase;
}

.home-form-wrapper .form-subscribe-wrap .form-intro .item-option {
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    font-family: "UTM AvoBold";
    padding-block: 1.5rem;
    font-weight: bold;
}

.home-form-wrapper .form-subscribe-wrap .form-intro .item-option span.icon {
    width: 24px;
    height: 24px;
    color: var(--bg-green);
    padding-right: 1rem;
}

.home-form-wrapper .form-subscribe-wrap .form-intro .item-option span.icon i {
    font-weight: bold;
}

.home-form-wrapper .form-subscribe-wrap .form-intro .wrapper-button {
    margin-top: 5rem;
}

.home-form-wrapper .form-subscribe-wrap .form-intro .wrapper-button button {
    border: none;
    outline: none;
    padding: 1rem 4rem;
    background-color: var(--bg-green);
    color: var(--bg-white);
    border-radius: 6px;
    font-size: 1.6rem;
}

.home-form-wrapper .form-subscribe-wrap .wrapper-img-option img {
    max-width: 520px;
    width: 100%;
    height: auto;
}

/* END HOME-FORM-WRAPPER  */
.should-choose-home {
    padding-bottom: 6rem;
    border-bottom: 1px solid var(--bg-green);
}

.wp-title {
    padding-block: 2rem;
}

.wp-title h2.title-should-choose {
    font-size: 2.4rem;
    font-family: "UTM AvoBold";
    color: var(--bg-green);
}

/* END SHOULD-CHOOSE-HOME  */
.content h2.section-title {
    font-size: 2.4rem;
    font-family: "UTM AvoBold";
    color: var(--bg-green);
    margin-block: 3rem;
}

.content .content-left .content-blog img {
    max-height: 500px;
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.content a {
    color: #000000;
    background-color: var(--bg-white);
}

.content .content-left .content-blog .info {
    padding: 2rem 2rem 9rem;
    background-color: var(--bg-white);
}

.content .content-left .content-blog .info h3 {
    font-size: 2.4rem;
    font-family: "UTM AvoBold";
}

.content .content-right .content-blog-extra .block-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content span.date-created {
    font-size: 1.2rem;
    color: var(--bg-gray);
    font-family: "UTM Avo";
}

.content p {
    font-size: 1.6rem;
    font-family: "UTM Avo";
}

.content .content-right a.content-blog-extra {
    height: 25%;
    max-height: fit-content;
    overflow: hidden;
    cursor: pointer;
    border-radius: 6px;
}

.content .content-right .content-blog-extra .info {
    padding: 2rem;
}