.home-wrapper .home-form-wrapper .form-subscribe-wrap .form-intro h2 {
    color: var(--bg-green);
    font-size: 18px;
    font-family: "UTM AvoBold";
}

.home-wrapper .home-form-wrapper .form-subscribe-wrap .form-intro .item-option {
    display: flex;
    font-size: 1.8rem;
    align-items: center;
}

.home-wrapper .home-form-wrapper .form-subscribe-wrap .wrapper-img-option img {
    max-width: 520px;
    width: 100%;
    height: auto;
}