@media (max-width: 1199px) {
    html {
        font-size: 5.333px;
        /* font-size: 8px; */
    }
}

@media (max-width: 767px) {
    html {
        font-size: 10px;
    }
}

h1 {
    color: orange;
}