#footer #footer-top {
    background-color: var(--bg-green);
    padding-block: 3rem;
}

#footer #footer-top .footer-top-content {
    display: flex;
    justify-content: space-between;
}

#footer #footer-top .footer-top-content span.footer-thank {
    font-size: 3.8rem;
    color: var(--bg-white);
    font-family: 'UTM AvoBold';
    text-transform: uppercase;
    margin-left: -1.5rem;
}

#footer #footer-top .footer-top-content a.hotline {
    /* border: none; */
    background-color: var(--bg-orange);
    margin-right: -1.5rem;
}

/* END FOOTER-TOP  */
#footer #footer-bottom .footer-logo a.logo img {
    display: block;
    max-width: 18rem;
    height: auto;
}

.footer-info-contact {
    font-size: 2.6rem;
    color: var(--bg-gray);
}

ul.list-info-contact {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.list-info-contact li a {
    color: var(--bg-gray);
}

ul.list-info-contact i {
    display: block;
    width: 2rem;
    height: auto;
}