#advantages {
    margin-block: 7rem;
}

#advantages .list-advantage {
    margin-inline: 2rem;
}

#advantages p.advantage {
    font-size: 3rem;
    color: #999999;
    font-family: 'UTM AvoBold';
    padding-block: 2rem;
}

#advantages p.advantage i {
    display: inline-block;
    padding-inline: 1rem;
    color: var(--bg-orange);
}

/* END ADVANTAGE  */
#should-choose ul.list-reason {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

#should-choose ul.list-reason li.reason-item {
    flex-basis: 20%;
    padding: 2rem;
}

#should-choose ul.list-reason li a {
    display: block;
    width: 100%;
}

#should-choose ul.list-reason li a img {
    display: inline-block;
    width: 20rem;
    height: auto;
}