#wp-info-reg .container h1 {
    font-size: 3rem;
    font-family: "UTM AvoBold";
    padding-block: 5rem;
}

#wp-info-reg #wp-form-reg .form-reg-title p:first-child {
    font-size: 1.6rem;
    font-family: "UTM Avo";
    text-transform: uppercase;
    color: #333333;
}

#wp-info-reg #wp-form-reg .form-reg-title p.condition-reg {
    font-size: 2rem;
    font-family: "UTM AvoBold";
}

#wp-info-reg #wp-form-reg .form-reg-title p.condition-reg span {
    color: var(--bg-green);
}

#wp-info-reg #wp-form-reg .form-reg-content .form-group {
    margin-block: 3rem;
}

#wp-info-reg #wp-form-reg .form-reg-content label {
    font-size: 2.3rem;
    font-family: "UTM AvoBold";
    margin-block: 0.5rem;
}

#wp-info-reg #wp-form-reg .form-reg-content input {
    display: inline-block;
    border-radius: 1rem;
    font-size: 2.2rem;
    padding: 1.5rem 1rem;
}

.wp-btn-reg {
    margin-block: 3rem;
}

.wp-btn-reg button.btn_reg {
    background-color: var(--bg-green);
    font-size: 3.3rem;
    color: var(--bg-white);
    font-family: "UTM AvoBold";
    border-radius: 1.3rem;
    padding: 0.5rem 1rem;
    width: 44.5%;
}

/* END WP-INFO-REG  */
#wp-note {
    margin-block: 3rem;
}

#wp-note p {
    margin-block: 0.5rem;
    color: #FF0000;
}

/* END WP-NOTE  */
#wp-content {
    margin-bottom: 8rem;
}

#advantages {
    margin-block: 7rem;
}

#advantages .list-advantage {
    margin-inline: 2rem;
}

#advantages p.advantage {
    font-size: 3rem;
    color: #999999;
    font-family: 'UTM AvoBold';
    padding-block: 2rem;
}

#advantages p.advantage::before {
    display: inline-block;
    content: '\f058';
    font-family: "Font Awesome 6 Free";
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: var(--bg-orange);
    padding-inline: 1rem;
}

/* END ADVANTAGE  */
#should-choose ul.list-reason {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

#should-choose ul.list-reason li.reason-item {
    flex-basis: 20%;
    padding: 2rem;
}

#should-choose ul.list-reason li a {
    display: block;
    width: 100%;
    height: 16rem;
}

#should-choose ul.list-reason li a img {
    display: inline-block;
    width: 15rem;
    height: auto;
}

#should-choose ul.list-reason li.reason-item p {
    font-size: 2rem;
    font-family: "UTM Avo";
    color: #808080;
}

/* END SHOULD-CHOOSE  */